
# Terraform state
*.tfstate
*.tfstate.backup
*.tfplan
*.terraform.lock.hcl
*.tfstate.*
crash.log

# Terraform plan
*.tfplan
*AM
# Backup files
*.backup

# Override files
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# .terraform dir
.terraform/

# Sensitive variable definitions
*.tfvars.json

# Sensitive private keys, just in case
*.key

# IDE files 
.vscode/
.idea/
*.swp
